Importing Data

In [1]:
import pandas as pd
games_season = pd.read_csv('games_season.csv')
games_season.head()

   season  team_1  team_2  home  score_diff  score_1  score_2  won
0    1985    3745    6664     0          17       81       64    1
1    1985     126    7493     1           7       77       70    1
2    1985     288    3593     1           7       63       56    1
3    1985    1846    9881     1          16       70       54    1
4    1985    2675   10298     1          12       86       74    1

In [2]:
games_tourney = pd.read_csv('games_tourney.csv')
games_tourney.head()

   season  team_1  team_2  home  seed_diff  score_diff  score_1  score_2  won
0    1985     288      73     0         -3          -9       41       50    0
1    1985    5929      73     0          4           6       61       55    1
2    1985    9884      73     0          5          -4       59       63    0
3    1985      73     288     0          3           9       50       41    1
4    1985    3920     410     0          1          -9       54       63    0

Preparing Keras input and dense layers

In [3]:
# Load layers
from keras.layers import Input, Dense

# Input layer
input_tensor = Input(shape=(1,))

# Create a dense layer and connecting the dense layer to the input_tensor 
output_tensor = Dense(1)(input_tensor)

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0718 22:08:02.945446 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0718 22:08:02.961174 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0718 22:08:02.963726 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

Building & compiling model, with one input and one output

In [4]:
from keras.models import Model
model = Model(input_tensor, output_tensor)
model.compile(optimizer='adam', loss='mean_absolute_error')

W0718 22:08:02.985308 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Visualizing the model

In [5]:
# Import the plotting function
from keras.utils import plot_model
import matplotlib.pyplot as plt

# Summarize the model
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 1)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

Model has one input and one output.
Input will be the seed difference (-15 to 15)
Output will be the score difference (-50 to 50)

In [7]:
from sklearn.model_selection import train_test_split
games = pd.read_csv('games_tourney.csv')
X=games['seed_diff']
y=games['score_diff']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)
model.fit(X_train,y_train,epochs=20,batch_size=128,verbose=True)

W0718 22:08:34.652845 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0718 22:08:34.696870 140283896358656 deprecation_wrapper.py:119] From /usr/local/lib/python3.5/dist-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/20
2963/2963 [==============================] - 0s 56us/step - loss: 10.4309
Epoch 2/20
2963/2963 [==============================] - 0s 9us/step - loss: 10.3619
Epoch 3/20
2963/2963 [==============================] - 0s 9us/step - loss: 10.2959
Epoch 4/20
2963/2963 [==============================] - 0s 9us/step - loss: 10.2318
Epoch 5/20
2963/2963 [==============================] - 0s 9us/step - loss: 10.1713
Epoch 6/20
2963/2963 [==============================] - 0s 7us/step - loss: 10.1137
Epoch 7/20
2963/2963 [==============================] - 0s 6us/step - loss: 10.0585
Epoch 8/20
2963/2963 [==============================] - 0s 9us/step - loss: 10.0065
Epoch 9/20
2963/2963 [==============================] - 0s 8us/step - loss: 9.9538
Epoch 10/20
2963/2963 [==============================] - 0s 8us/step - loss: 9.9029
Epoch 11/20
2963/2963 [==============================] - 0s 9us/step - loss: 9.8546
Epoch 12/20
2963/2963 [==============================] - 0s 8us/step - loss: 9.8088
Epoch 13/20
2963/2963 [==============================] - 0s 9us/step - loss: 9.7636
Epoch 14/20
2963/2963 [==============================] - 0s 8us/step - loss: 9.7228
Epoch 15/20
2963/2963 [==============================] - 0s 9us/step - loss: 9.6835
Epoch 16/20
2963/2963 [==============================] - 0s 8us/step - loss: 9.6468
Epoch 17/20
2963/2963 [==============================] - 0s 9us/step - loss: 9.6142
Epoch 18/20
2963/2963 [==============================] - 0s 7us/step - loss: 9.5815
Epoch 19/20
2963/2963 [==============================] - 0s 10us/step - loss: 9.5511
Epoch 20/20
2963/2963 [==============================] - 0s 9us/step - loss: 9.5235

In [8]:
model.evaluate(X_test,y_test,verbose=True)

1271/1271 [==============================] - 0s 32us/step

9.503286251395261